<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <img src=".../../../../assets/hydro/hydro.jpg"  class="logo" alt="" >
        <small class="d-block mb-3 text-muted">© 2021</small>
        <small>Lamanos al: </small> <b>3310628982</b>
      </div>
      <div class="col-6 col-md">
        <h5>Siguenos en :</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="https://www.instagram.com/hydrolavadoyrestauracion/" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
  </footer>
