
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3"  id="section">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">LAVAMOS Y RESTAURAMOS DE FORMA PROFESIONAL:</h2>
        <p class="lead">Queda como recien colocado!</p>
        <p class="lead">Cantera🏚Techos de Teja</p>
        <p class="lead"> Estacionamientosl</p>
        <p class="lead">Banquetas y mucho más!</p>
        <p class="lead"> Residencial y Comercia</p>
      </div>
      <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 5rem; border-radius: 21px 21px 0 0;">

        <h1 style="color: black; padding-top: 2rem;">LLamanos al : 3310628982 </h1> 
    </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden ">
      <div class="my-3 p-3">
        <h2 class="display-5">Tambien hacemos empedrado!!</h2>
        <p class="lead"></p>
      </div>
      <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: auto; border-radius: ">
        <img src=".../../../../assets/hydro/5.jpg" alt="">
    </div>
    </div>
  </div>

